<div class="container">
  <hc-tile>
    <h3>Settings</h3>
    <div class="field">
      <hc-form-field>
        <hc-label>Colors</hc-label>
        <input
          #color
          hcInput
          (keyup.enter)="addColor(color.value); color.value = ''"
        />
      </hc-form-field>
      <hc-chip-row>
        <hc-chip
          *ngFor="let color of colors; let i = index"
          hasCloseButton="true"
          [style.background]="color"
          (closeClick)="removeColor(color)"
        >
          <span [title]="i + ': ' + color">{{ i + ": " + color }}</span>
        </hc-chip>
      </hc-chip-row>
    </div>
    <div class="field">
      <hc-form-field>
        <hc-label>Twill width</hc-label>
        <input
          hcInput
          [formControl]="twillWidthControl"
          type="number"
          min="1"
        />
      </hc-form-field>
    </div>
    <div class="field">
      <hc-form-field>
        <hc-label>Horizontal pattern</hc-label>
        <textarea hcInput rows="5" [formControl]="columnsField"></textarea>
      </hc-form-field>
    </div>
    <div class="field">
      <hc-checkbox [formControl]="sameControl"
        >use same pattern for both dimensions</hc-checkbox
      >
      <hc-form-field>
        <hc-label>Vertical pattern</hc-label>
        <textarea
          hcInput
          rows="5"
          [disabled]="sameControl.value"
          [formControl]="rowsField"
        ></textarea>
      </hc-form-field>
    </div>
    <button hc-button (click)="generate()">Generate</button>
  </hc-tile>
  <hc-tile>
    <h3>Result</h3>
    <div>
      <canvas #canvas></canvas>
    </div>
  </hc-tile>
</div>
